/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;  /* Add padding for smaller screens */
}

.calculator-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    color: #333;
    box-sizing: border-box;  /* Ensure padding is considered in width calculation */
}

h1 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #333;
}

p {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #555;
}

/* Form Styling */
.calculator-form .form-group {
    margin-bottom: 25px;
    margin-right: 26px;
}

.calculator-form input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease-in-out;
}

.calculator-form input:focus {
    border-color: #333;
    box-shadow: 0 4px 12px rgba(51, 51, 51, 0.2);
    outline: none;
}

.calculate-btn {
    background-color: #F86709;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
    transition: background-color 0.3s ease;
}

.calculate-btn:hover {
    background-color: #007bff;
}

/* Result Display */
.result-display {
    margin-top: 20px;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    font-size: 1.2em;
    color: #333;
}

.result-display p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.button__icon {
    margin-left: 0.1rem;
}

/* Spacer */
.spacer {
    height: 10px;
}

/* Signature Styling */
.signature {
    font-size: 0.8em;
    color: #888888;
    text-align: center;
    margin-top: 20px;
    font-style: italic;
}

.signature-link {
    color: #888888;
    text-decoration: none;
    font-style: italic;
}

.signature-link:hover {
    color: #F86709;
}

/* Mobile Responsiveness */
@media only screen and (max-width: 600px) {
    body {
        padding: 10px;
        height: 100vh;  /* Ensure full height is used for centering */
    }

    .calculator-container {
        max-width: 100%;
        padding: 20px;
        margin: auto;  /* Center the container horizontally */
    }

    h1 {
        font-size: 1.5em; 
    }

    p {
        font-size: 1em;  
    }

    .calculator-form input {
        font-size: 1em; 
        padding: 10px;
    }

    .calculate-btn {
        font-size: 1em;  
        padding: 10px 15px;
    }

    .result-display {
        font-size: 1em;
        padding: 12px;
    }

    .signature {
        font-size: 0.7em;
    }
}