/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    color: #333; /* Text color aligned with the main site */
}

h1 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #333; /* Heading color */
}

p {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #555;
}

/* Form Styling */
.calculator-form .form-group {
    margin-bottom: 25px; /* Add extra margin */
    margin-right: 26px;
}

.calculator-form input {
    width: 100%;
    padding: 12px; 
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease-in-out;
    font-size: 0.9em;
}

.calculator-form input:focus {
    border-color: #333;
    box-shadow: 0 4px 12px rgba(51, 51, 51, 0.2); /* Focus shadow adjusted */
    outline: none;
}

.calculate-btn {
    background-color: #F86709;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2); /* Button shadow */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.calculate-btn:hover {
    background-color: #007bff; /* Hover effect on button */
    transform: scale(1.05); /* Slight animation on hover */
}

.result-display {
    margin-top: 20px;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    font-size: 1.2em;
    color: #333;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.result-display p {
    margin: 0; /* Remove default paragraph margin */
    padding: 0; /* Ensure no padding inside the paragraph */
    line-height: 1.5;
}

.button__icon {
    margin-left: 0.1rem;
}

/* Spacer */
.spacer {
    height: 10px; /* Adds space after label */
}

.signature {
    font-size: 0.9em;
    color: #888888; 
    text-align: center;
    margin-top: 20px; 
    font-style: italic; 
}

.signature-link {
    color: #888888; 
    text-decoration: none; 
    font-style: italic; 
}

.signature-link:hover {
    color: #F86709; 
}

/* Input and Button Width */
.calculator-form input,
.calculate-btn {
    width: 100%;
}

/* Accessibility and Focus States */
.calculator-form input:focus,
.calculate-btn:focus {
    outline: none;
}